/* GENERALI */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.bordered{
    border: 1px dashed black;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* HEADER */

.container_header{
    width: 100vw;
    height: 60px;
    /* background-color: #34cc31; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.container_header .bg_input{
    background-color: #e9ecef;
}



/* MAIN */

.container_main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: aqua;
    margin-top: 60px;
}

/* SIDEBAR */

.container_sidebar {
    width: 150px;
    height: 100%;
    min-height: 500px;
    background-image: url("../img/sidebar-bg.png");
}

/* PRINCIPAL */

.container_principal {
    width: calc(100% - 150px);
    height: 100%;
    background-color: #b6c542;
    overflow-y: scroll;
}

/* TITLE */

.container_title {
    background-color: #9d203b;
}

/* PROSSIME CLASSI */

.font_size{
    font-size: 0.9em;
}